{% extends 'layout.html' %} {% block title %}About{% endblock %} {% block main
%}
<h2 class="mt-3">Coronavirus Predictor (Neerog Jeevan)</h2>
<p>
  A simple web application that predicts the chances for a person's being
  infected by COVID-19 based on symptoms.
</p>
<p>
  A dummy dataset and machine learning model are being used for the prediction.
  This application has been built in HTML, CSS, JavaScript and Python (Flask,
  NumPy, Pickle, Scikit-Learn).
</p>
<p>Made with ❤️ by <a href="/team">BugBusters</a>.</p>
{% endblock %}
