{% extends 'layout.html' %}
{% block title %}Team{% endblock %}
{% block main %}
<h2 class="mt-3">Coronavirus Predictor</h2>
<h3 style='color: red;'>BugBusters</h3>
<div class='row'>
    {% for person in team %}
    <div class='col-12 col-md-6 mb-3'>
        <div class='card'>
            <div style='width: 80%;'><img class='img-fluid m-4' src='/static/img/{{ person["img"] }}'></div>
            <div class='card-body'>
                <a href="{{ person['url'] }}" target='_blank'><h5 class="card-title">{{ person['name'] }}</h5></a>
                {{ person['desc']|safe }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}