*{
  margin: 0;
  padding: 0;
}

.video-background{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}



@media (max-aspect-ratio: 16/9){
  .video-background{
    width: 100%;
    height: 100%;
  }
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  padding: 1% 2%;
  color: purple;
}

header{
  background: rgba(0,0,100,0.5);
  height: 100vh;
}

.nav {
  background: rgba(0,0,0,0.5);
  height: 80px;
}

.menu{
  float: right;
  list-style: none;
  margin: 20px;
  left:80%;
}
.menu li{
  display: inline-block;
  margin: 10px 5px;
}
.menu li a{
  float: right;
  text-decoration:none;
  color: #fff;
  padding: 5px 10px;
  font-family: sans-serif;
  letter-spacing: 2px;
border-bottom: 1px solid #fff;
}
.menu li a:hover{
  background: coral;
  border-bottom: 1px solid coral;
  transition: 0.4s;
}
.msg{
  position: relative;
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  top: 200px;
}
.msg h1{
  font-size: 52px;
  margin: 25px;
  }
  .btn{
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
    margin: 5px;
    padding: 7px 28px;
    text-decoration: none;
    border: 1px solid coral;
    border-radius: 25px;
      }
  .btn:hover{
    background: coral;
      transition: 0.4s;
  }
.container{
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.card{
  position:relative;
  margin: 25px 0;
  width:300px;
  height: 400px;
  background: #fff;
  transform-style:preserve-3d;
  transform: perspective(2000px);
  transition: 1s;
  box-shadow: inset 300px 0 50px rgba(0,0,0,0.5);

}
.card:hover{
  z-index: 1000;
  transform: translate(-50%,-50%) perspective(2000px) rotate(-10 deg);
    box-shadow: inset 20px 0 50px rgba(0,0,0,0.5);
}
.card .img-box{
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin:left;
  z-index: 1;
  transition: 1s;
}
.card:hover .img-box{
  transform: rotatey(-135deg);
}
.card .img-box .img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .details{
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  z-index: -1;
}
#coaching {
  text-align: center;
  background: rgba(0,0,100,0.5);
}

.coaching-image {
  margin: 20px;
  border-radius: 4%;

}

.coaching-text {
  color: white;
}

.carousel-item {
  padding:5% 10%;
}

#footer {
  padding: 5% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}
.centers{
  color: #fff;
  margin: 20px 10px;
}
