.header img {
  float: left;
  width: 200px;

  background: #555;
}

.header h1 {
  position: relative;
  top: 18px;
}
.t1 {
  text-transform: uppercase;
  text-align: justify;
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  letter-spacing: 5px;
  color: steelblue;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
a:link,
a:visited {
  background-color: #f44336;
  color: white;
  padding: 24px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: red;
}
.t3 {
  position: absolute;
  left: 700px;
}

.symtom {
  font-size: 40px;
  font-weight: bold;
  background-color: #9df2f1;
}

.symtombody {
  background-color: #f2fcf5;
  height: 600px;
}
#demo {
  max-width: 75%;
  margin: 3%;
  font-size: 40px;
  float: left;
}

button,
button::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
button {
  background: none;
  border: 4px solid black;
  border-radius: 10px;
  color: "black";
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 2em auto;
  padding: 2em 4em;
  position: relative;
  text-transform: uppercase;
}
button::before,
button::after {
  background: #fff;
  content: "";
  position: absolute;
  z-index: -1;
}
button:hover {
  color: #29f2e4;
}
.button1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}
.button1:hover:after {
  height: 100%;
}
.button2::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}
.button2:hover:after {
  width: 100%;
}
.button3::after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}
.button3:hover:after {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
