* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: "Poppins", sans-serif;
}
.logo {
  /* background-color: #fff; */
  margin-top: -58px;
}

section {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    -45deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
  background-size: 400% 400%;
  position: relative;
  animation: animate 7.5s ease-in-out infinite;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20px;
}

section li {
  font-size: 22px;
  list-style: none;
  padding-top: 10px;
}
h1 {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  font-size: 50px;
  border-radius: 10px;
}

.header {
  background-color: black;
  width: 100%;
  height: 10vh;
  line-height: 10vh;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
h2 {
  color: #fff;
}
ul {
  display: flex;
  list-style: none;
}
ul li a {
  position: relative;
  color: #fff;
  padding: 10px 10px;
  text-decoration: none;
  transition: all 0.5s;
}
ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
ul li a:hover:before {
  transform: scaleX(1);
  z-index: 1;
}
ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
ul li a:hover:after {
  transform: scaleX(1);
  z-index: 1;
}
@keyframes animate {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
